body {
  padding: 0% 4%;
  margin: 2%;
  background-color: rgb(51, 51, 51);
}

.container {
  background-color: rgb(92, 99, 99);
  height: 2000%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 220px 0;

}

.circle {

  background: url(123zu.png);
  height: 400px;
  background-color: rgb(123, 118, 134);
  width: 400px;
  border-radius: 50%;
  margin-top: -10%;

}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1%;
  height: 10%;
  margin-top: -55px;
  padding: 1px 0;
  margin: 1px;

}

nav a {
  text-decoration: none;
  color: beige;
  font-size: 15px;
  padding: 18px;
  margin: 4%;
  align-items: center;
  position: relative;
  margin-top: -350px;
}

.info {
  margin-left: -80%;
  margin-top: -2%;
}

.info {
  font-size: 99%;
  color: rgb(253, 253, 253);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info h3 {
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 25px;
}

.info span {
  color: rgb(234, 73, 15);
}

.info a {
  text-decoration: none;
  color: rgb(252, 254, 250);
  background-color: rgb(22, 23, 23);
  margin: 32px 0;
  padding: 10px 18;
  border-radius: 10px;
  display: inline-block;
  transition: 5s else;
}


.zz {
  margin-left: 90%;
  margin-top: -35%;
  justify-content: right;
  align-items: right;
  width: 80%;
}

.zz {
  font-size: 88%;
  color: rgb(253, 253, 253);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.zz h3 {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 18px;
}

.zz span {
  color: rgb(234, 73, 15);
}

.zz a {
  text-decoration: none;
  color: rgb(252, 254, 250);
  background-color: rgb(22, 23, 23);
  margin: 10px 0;
  padding: 10px 18;
  border-radius: 10px;
  display: inline-block;
  transition: 5s else;
}


/* .phun{
  height: 100px;
  background-color: rgb(181, 77, 36);
  margin-top:  -650px;
  margin-left: 230px;
  width: 600px;
  padding: 35px;
  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
} */


.simple {
  background-color: rgb(182, 177, 192);
  height: 4000%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 400px 0;
  margin-top: -160px;
}

.dada div img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 15%;
  margin: center;
  padding: 20px 0;
  margin: auto;
  background-color: rgb(72, 68, 68);
}

.text {
  max-width: 450px;
  color: rgb(18, 19, 20);
  margin: left;
  align-items: left;
}

.target {
  margin-left: -55%;
  margin-top: -20%;
}

.target {
  font-size: 99%;
  color: rgb(253, 253, 253);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.ss {
  margin-left: 225px;
  margin-top: -400px;

}

.ss {
  font-size: 250%;
  color: rgb(214, 225, 58);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 5px;
  padding: 15px;
}

/* .ss a{
    text-decoration: none;
    color: rgb(113, 189, 37);
    background-color: rgb(22, 23, 23);
    margin: 32px 0;
    padding: 20px 18;
    border-radius: 30px;
    display: inline-block;
    transition: 5s else;
    justify-content: center;
    align-items: center;
  } */


/* .dada{
    background-color: black;
    width: 900px;
    height: 120px;
    margin-top: -690px;
    margin-left: 230px;
  } */
.dada {
  height: 100px;
  background-color: rgb(132, 127, 125);
  margin-top: -775px;
  margin-left: -10px;
  width: 900px;
  padding: 8px;
  margin-left: 210px;
  justify-content: center;
  display: flex;
  align-items: center;
}



.upar {
  width: 40%;
  margin-left: 50%;
  margin-top: 15%;
}

.upar div img {
  padding-left: 20px;
  padding-top: 10px;
  width: 30%;
}

.upar div div {
  overflow: hidden;
  width: 200px;
}